In [1]:
import os.path
import numpy as np
import pandas as pd

In [2]:
Joined1617 = pd.read_csv("../../data/prep/Joined1617.csv")
Joined1516 = pd.read_csv("../../data/prep/Joined1516.csv")
Joined1415 = pd.read_csv("../../data/prep/Joined1415.csv")
Joined1314 = pd.read_csv("../../data/prep/Joined1314.csv")
Joined1213 = pd.read_csv("../../data/prep/Joined1213.csv")

In [44]:
DF1 = Joined1617[['name','Points','club','Start','Sub']]
DF2 = Joined1516[['name','Points','club','Start','Sub']]
DF3 = Joined1415[['name','Points','club','Start','Sub']]
DF4 = Joined1314[['name','Points','club','Start','Sub']]
DF5 = Joined1213[['name','Points','club','Start','Sub']]

In [48]:
s5 = DF1.drop_duplicates(['name','club']).set_index(['name','club'])['Points']
s4 = DF2.drop_duplicates(['name','club']).set_index(['name','club'])['Points']
s3 = DF3.drop_duplicates(['name','club']).set_index(['name','club'])['Points']
s2 = DF4.drop_duplicates(['name','club']).set_index(['name','club'])['Points']
s1 = DF5.drop_duplicates(['name','club']).set_index(['name','club'])['Points']
df = pd.concat([s5,s4,s3,s2, s1], axis=1, keys=('1617','1516','1415','1314','1213')).fillna(0).astype(int).reset_index()

In [46]:
df.sort_values(['1617'], ascending=False)

,name,club,1617,1516,1415,1314,1213
2227,L. Messi,FC Barcelona,270,233,341,218,325
1038,E. Cavani,Paris Saint-Germain,253,161,153,143,216
2279,L. Suarez,FC Barcelona,241,308,169,254,186
1045,E. Dzeko,Roma,236,100,55,136,124
3180,R. Lewandowski,FC Bayern Munich,224,215,159,182,188
889,D. Mertens,Napoli,222,73,92,120,0
1478,H. Kane,Tottenham Hotspur,220,199,170,28,5
309,A. Sanchez,Arsenal,219,137,167,180,107
2960,P. Aubameyang,Borussia Dortmund,217,193,158,129,193
3182,R. Lukaku,Manchester United,213,179,128,154,147
37,A. Belotti,Torino,209,134,75,0,0
2511,M. Icardi,Inter,207,154,191,83,108
179,A. Lacazette,Arsenal,200,175,219,147,88
1351,G. Higuain,Juventus,198,254,169,157,138
755,Cristiano Ronaldo,Real Madrid CF,195,274,346,232,253
1112,Eder,Inter,191,208,111,133,97
642,C. Immobile,Lazio,190,72,47,172,84
2196,L. Insigne,Napoli,183,153,50,92,86
1007,Diego Costa,Chelsea,179,125,151,200,114
761,D. Alli,Tottenham Hotspur,179,131,0,0,0
130,A. Gomez,Atalanta,178,116,62,0,131
3704,T. Werner,RB Leipzig,175,98,64,82,0
1968,Jose Callejon,Napoli,174,125,128,157,71
1265,F. Thauvin,Olympique de Marseille,171,49,102,103,106
138,A. Griezmann,Atletico Madrid,169,192,173,150,117
1057,E. Hazard,Chelsea,168,83,169,156,141
1277,Fabinho,AS Monaco,167,132,142,70,0
2641,M. Salah,Liverpool,166,152,68,28,0
2492,M. Hamsik,Napoli,164,134,132,97,163
465,B. Gomis,Galatasaray SK,164,81,84,132,155
...,...,...,...,...,...,...,...
2539,M. Larrondo,River Plate,0,0,6,10,22
1146,F. Brignani,Bologna,0,0,0,0,0
2537,M. Langerak,Levante UD,0,0,26,10,3
2558,M. Mancienne,Nottingham Forest,0,0,0,11,47
2536,M. Lais,SSV Jahn Regensburg,0,0,0,0,1
68,A. Coda,Pescara,-1,3,1,24,38
687,C. Pantilimon,RC Deportivo de La Coruna,-1,24,82,19,0
132,A. Gotz,Roda JC Kerkrade,-1,0,8,0,0
3664,T. Mickel,Hamburger SV,-1,2,0,0,0
3675,T. Petsos,SK Rapid Wien,-1,0,0,0,15
1733,J. Husband,Norwich City,-1,0,0,0,0
114,A. Fernandez,San Martin de San Juan,-1,0,0,0,0
3683,T. Sainsbury,Free Agent,-1,0,0,0,0
2316,Luis Martins,CS Maritimo,-1,0,-5,0,0
3686,T. Sippel,Borussia Monchengladbach,-1,12,0,0,0
48,A. Brignoli,Benevento Calcio,-1,-2,0,0,0
1327,G. Cuomo,Crotone,-1,0,0,0,0
1100,E. Terranova,Frosinone,-1,9,16,1,0
3722,U. Garcia,SV Werder Bremen,-2,8,0,0,0
1407,G. Pegolo,Sassuolo,-2,4,0,67,100
3293,Ruben Duarte,Deportivo Alaves,-2,34,34,0,0
3666,T. Mings,Bournemouth,-2,1,0,0,0
2017,K. Diks,Feyenoord,-2,0,0,0,0
1009,Diego Gonzalez,Malaga CF,-3,3,0,0,0
510,B. Passi,Le Havre AC,-3,0,0,0,0
497,B. Mason,Watford,-4,0,0,0,0
1688,J. Fohrenbach,Karlsruher SC,-4,0,0,0,0
2577,M. Morganella,Palermo,-5,23,40,0,65
534,B. Smith,Bournemouth,-5,2,0,0,0
2616,M. Poaty,Montpellier Herault SC,-9,0,0,0,0

In [6]:
df['Total Points'] = df['1617'] + df['1516'] + df['1415'] + df['1314']

In [9]:
df = df.sort_values(['Total Points'], ascending=False)
df = df.reset_index()
df = df.drop('index', 1)

names = df.name.value_counts()
names[names > 1]

In [51]:
df[df["name"].str.contains("Plizzari")]

            name     club  1617  1516  1415  1314  1213
273  A. Plizzari  Ternana     0     0     0     0     0

In [55]:
test = df.loc[(df['1617'] == 0) & (df['1516'] == 0) & (df['1415'] == 0) & (df['1314'] == 0) & (df['1213'] == 0)]

In [61]:
df = pd.concat([df, test, test]).drop_duplicates(keep=False)

In [62]:
df.loc[(df['1617'] == 0) & (df['1516'] == 0) & (df['1415'] == 0) & (df['1314'] == 0) & (df['1213'] == 0)]

Empty DataFrame
Columns: [name, club, 1617, 1516, 1415, 1314, 1213]
Index: []

In [63]:
len(df)

3432