In [48]:
import os.path
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pylab as plt
%matplotlib inline

In [49]:
J16_17 = pd.read_csv("../../data/prep/Joined1617.csv")
J15_16 = pd.read_csv("../../data/prep/Joined1516.csv")
J14_15 = pd.read_csv("../../data/prep/Joined1415.csv")
J13_14 = pd.read_csv("../../data/prep/Joined1314.csv")
J12_13 = pd.read_csv("../../data/prep/Joined1213.csv")
J17_18 = pd.read_csv("../../data/prep/Joined1718.csv")

DF1 = J16_17[['Players','club','league','age','nationality','Position','overall','potential','Apps','Form','skill_moves','Players','Points','Clubs','Position','Start','Goals','A','CS','CS part','Yellow','Red','Sub','CO','Off','Pen SV','Pen M','Goals conceded','Conceded 1+','OG']]
DF2 = J15_16[['Players','club','league','age','nationality','Position','overall','potential','Apps','Form','skill_moves','Players','Points','Clubs','Position','Start','Goals','A','CS','CS part','Yellow','Red','Sub','CO','Off','Pen SV','Pen M','Goals conceded','Conceded 1+','OG']]
DF3 = J14_15[['Players','club','league','age','nationality','Position','overall','potential','Apps','Form','skill_moves','Players','Points','Clubs','Position','Start','Goals','A','CS','CS part','Yellow','Red','Sub','CO','Off','Pen SV','Pen M','Goals conceded','Conceded 1+','OG']]
DF4 = J13_14[['Players','club','league','age','nationality','Position','overall','potential','Apps','Form','skill_moves','Players','Points','Clubs','Position','Start','Goals','A','CS','CS part','Yellow','Red','Sub','CO','Off','Pen SV','Pen M','Goals conceded','Conceded 1+','OG']]
DF5 = J12_13[['Players','club','league','age','nationality','Position','overall','potential','Apps','Form','skill_moves','Players','Points','Clubs','Position','Start','Goals','A','CS','CS part','Yellow','Red','Sub','CO','Off','Pen SV','Pen M','Goals conceded','Conceded 1+','OG']]
DF6 = J17_18[['Players','club','league','age','nationality','Position','overall','potential','Apps','Form','skill_moves','Players','Points','Clubs','Position','Start','Goals','A','CS','CS part','Yellow','Red','Sub','CO','Off','Pen SV','Pen M','Goals conceded','Conceded 1+','OG']]

s1 = J16_17[['Players','club','league','age','nationality','Position','overall','potential','Form','Apps']]
s2 = J15_16[['Players','club','league','age','nationality','Position','overall','potential','Form','Apps']]
s3 = J14_15[['Players','club','league','age','nationality','Position','overall','potential','Form','Apps']]
s4 = J13_14[['Players','club','league','age','nationality','Position','overall','potential','Form','Apps']]
s5 = J12_13[['Players','club','league','age','nationality','Position','overall','potential','Form','Apps']]
s6 = J17_18[['Players','club','league','age','nationality','Position','overall','potential','Form','Apps']]

s1 = s1.drop_duplicates(['Players','club','league','age','nationality','Position','overall','potential']).set_index(['Players','club','league','age','nationality','Position','overall','potential'])[['Form','Apps']]
s2 = s2.drop_duplicates(['Players','club','league','age','nationality','Position','overall','potential']).set_index(['Players','club','league','age','nationality','Position','overall','potential'])[['Form','Apps']]
s3 = s3.drop_duplicates(['Players','club','league','age','nationality','Position','overall','potential']).set_index(['Players','club','league','age','nationality','Position','overall','potential'])[['Form','Apps']]
s4 = s4.drop_duplicates(['Players','club','league','age','nationality','Position','overall','potential']).set_index(['Players','club','league','age','nationality','Position','overall','potential'])[['Form','Apps']]
s5 = s5.drop_duplicates(['Players','club','league','age','nationality','Position','overall','potential']).set_index(['Players','club','league','age','nationality','Position','overall','potential'])[['Form','Apps']]
s6 = s6.drop_duplicates(['Players','club','league','age','nationality','Position','overall','potential']).set_index(['Players','club','league','age','nationality','Position','overall','potential'])[['Form','Apps']]
joined = pd.concat([s1,s2,s3,s4,s5,s6], axis=1, keys=('16/17','15/16','14/15','13/14','12/13','17/18')).fillna(0).astype(float).reset_index()

In [50]:
Europe = 'Portugal|Germany|Belgium|Poland|Spain| Belgium|Croatia|Wales|Italy|Slovenia|France|Sweden|Netherlands|Denmark|Slovakia|England|Austria|Czech Republic|Bosnia Herzegovina|Greece|Serbia|Montenegro|Switzerland|Turkey|Norway|Finland|Republic of Ireland|Romania|Northern Ireland|Albania|Ukraine|Scotland|Hungary|Moldova|Macedonia|Israel|Georgia|Liechtenstein|Kosovo|Bulgaria|Iceland|Belarus|Luxembourg|Cyprus|Lithuania'
Africa = ('Gabon|Ivory Coast|Senegal|Guinea|Egypt|Algeria|Cameroon|Kenya|Congo|Morocco|Mauritania|Sierra Leone|Zimbabwe|African|Eritrea|Madagascar|Uganda|Comoros|Ghana|Burkina Faso|Libya|Nigeria|Mali|Tunisia|Angola|Mozambique|Benin|Togo|Congo|Gambia|South Africa|Zambia|Guinea Bissau')
North_America = ('Costa R|United States|Bermuda|Honduras|Canada|Mexico|Montserrat|St Lucia|Dominican Republic|Cuba|Haiti')
South_America = ('Argentina|Trinidad & Tobago|Bolivia|Brazil|Chile|Colombia|Ecuador|Guyana|Paraguay|Peru|Suriname|Uruguay|Venezuela')
Asia = ('Afghanistan|Armenia|Azerbaijan|Korea|Bahrain|Bangladesh|Bhutan|Brunei|Cambodia|China|Cyprus|Georgia|India|Indonesia|Iran|Iraq|Israel|Japan|Jordan|Kazakhstan|Kuwait|Kyrgyzstan|Laos|Lebanon|Malaysia|Maldives|Mongolia|Myanmar|Nepal|North Korea|Oman|Pakistan|Palestine|Philippines|Qatar|Russia|Saudi|Arabia|Singapore|South Korea|Sri Lanka|Syria|Taiwan|Tajikistan|Thailand|Timor-Leste|Turkey|Turkmenistan|United Arab Emirates|Uzbekistan|Vietnam|Yemen')
Australia_Oceania = ('Australia|Fiji|Kiribati|Marshall Islands|Micronesia|Nauru|New Zealand|Palau|Curacao|Caledonia|Cape Verde|Papua New Guinea|Samoa|Jamaica|Solomon Islands|Tonga|Tuvalu|Vanuatu')

In [51]:
joined.loc[joined['nationality'].str.contains(Europe), 'Continent'] = 'Europe'
joined.loc[joined['nationality'].str.contains(Africa), 'Continent'] = 'Africa'
joined.loc[joined['nationality'].str.contains(North_America), 'Continent'] = 'North America'
joined.loc[joined['nationality'].str.contains(South_America), 'Continent'] = 'South America'
joined.loc[joined['nationality'].str.contains(Asia), 'Continent'] = 'Asia'
joined.loc[joined['nationality'].str.contains(Australia_Oceania), 'Continent'] = 'Australia / Oceania'

In [52]:
joined['count1'] = 0
joined.loc[joined['16/17']['Apps']>0.5, 'count1'] = 1
joined['count2'] = 0
joined.loc[joined['15/16']['Apps']>0.5, 'count2'] = 1
joined['count3'] = 0
joined.loc[joined['14/15']['Apps']>0.5, 'count3'] = 1
joined['count4'] = 0
joined.loc[joined['13/14']['Apps']>0.5, 'count4'] = 1
joined['count5'] = 0
joined.loc[joined['12/13']['Apps']>0.5, 'count5'] = 1

joined['Seasons Played'] = joined['count1'] + joined['count2'] + joined['count3'] + joined['count4'] + joined['count5']

joined = joined[joined['Seasons Played']>3] #best players

OverallForm = joined['16/17']['Form'] + joined['15/16']['Form'] + joined['14/15']['Form'] + joined['13/14']['Form'] + joined['12/13']['Form']

joined['Average Form'] = OverallForm/joined['Seasons Played']

joined.drop(joined.columns[[8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26]], axis=1, inplace=True)
joined = joined[np.isfinite(joined['Average Form'])]

In [53]:
joined.head(5)

,Players,club,league,age,nationality,Position,overall,potential,Continent,Average Form
,,,,,,,,,,
2,Aaron Hunt,Hamburger SV,German Bundesliga,30,Germany,Midfielder,76,76,Europe,2.860984
3,Aaron Lennon,Everton,English Premier League,30,England,Midfielder,77,77,Europe,2.499638
8,Aaron Ramsey,Arsenal,English Premier League,26,Wales,Midfielder,82,83,Europe,3.060384
19,Abdoulaye Doucoure,Watford,English Premier League,24,France,Midfielder,78,84,Europe,2.725833
20,Abdoulaye Keita,Le Havre AC,French Ligue 2,23,Mali,Midfielder,62,70,Africa,1.442857

In [54]:
joined.to_csv('../../data/analysis/RQ4.csv')