In [12]:
import os.path
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pylab as plt
%matplotlib inline

In [59]:
J16_17 = pd.read_csv("../../data/prep/Joined1617.csv")
J15_16 = pd.read_csv("../../data/prep/Joined1516.csv")
J14_15 = pd.read_csv("../../data/prep/Joined1415.csv")
J13_14 = pd.read_csv("../../data/prep/Joined1314.csv")
J12_13 = pd.read_csv("../../data/prep/Joined1213.csv")
J17_18 = pd.read_csv("../../data/prep/Joined1718.csv")

DF1 = J16_17[['Players','club','league','age','nationality','Position','overall','potential','Apps','Form','skill_moves','Players','Points','Clubs','Position','Start','Goals','A','CS','CS part','Yellow','Red','Sub','CO','Off','Pen SV','Pen M','Goals conceded','Conceded 1+','OG']]
DF2 = J15_16[['Players','club','league','age','nationality','Position','overall','potential','Apps','Form','skill_moves','Players','Points','Clubs','Position','Start','Goals','A','CS','CS part','Yellow','Red','Sub','CO','Off','Pen SV','Pen M','Goals conceded','Conceded 1+','OG']]
DF3 = J14_15[['Players','club','league','age','nationality','Position','overall','potential','Apps','Form','skill_moves','Players','Points','Clubs','Position','Start','Goals','A','CS','CS part','Yellow','Red','Sub','CO','Off','Pen SV','Pen M','Goals conceded','Conceded 1+','OG']]
DF4 = J13_14[['Players','club','league','age','nationality','Position','overall','potential','Apps','Form','skill_moves','Players','Points','Clubs','Position','Start','Goals','A','CS','CS part','Yellow','Red','Sub','CO','Off','Pen SV','Pen M','Goals conceded','Conceded 1+','OG']]
DF5 = J12_13[['Players','club','league','age','nationality','Position','overall','potential','Apps','Form','skill_moves','Players','Points','Clubs','Position','Start','Goals','A','CS','CS part','Yellow','Red','Sub','CO','Off','Pen SV','Pen M','Goals conceded','Conceded 1+','OG']]
DF6 = J17_18[['Players','club','league','age','nationality','Position','overall','potential','Apps','Form','skill_moves','Players','Points','Clubs','Position','Start','Goals','A','CS','CS part','Yellow','Red','Sub','CO','Off','Pen SV','Pen M','Goals conceded','Conceded 1+','OG']]

s1 = J16_17[['Players','club','league','age','nationality','Position','overall','potential','Points','Apps','photo']]
s2 = J15_16[['Players','club','league','age','nationality','Position','overall','potential','Points','Apps','photo']]
s3 = J14_15[['Players','club','league','age','nationality','Position','overall','potential','Points','Apps','photo']]
s4 = J13_14[['Players','club','league','age','nationality','Position','overall','potential','Points','Apps','photo']]
s5 = J12_13[['Players','club','league','age','nationality','Position','overall','potential','Points','Apps','photo']]
s6 = J17_18[['Players','club','league','age','nationality','Position','overall','potential','Points','Apps','photo']]

s1 = s1.drop_duplicates(['Players','club','league','age','nationality','Position','overall','potential','photo']).set_index(['Players','club','league','age','nationality','Position','overall','potential','photo'])[['Points','Apps']]
s2 = s2.drop_duplicates(['Players','club','league','age','nationality','Position','overall','potential','photo']).set_index(['Players','club','league','age','nationality','Position','overall','potential','photo'])[['Points','Apps']]
s3 = s3.drop_duplicates(['Players','club','league','age','nationality','Position','overall','potential','photo']).set_index(['Players','club','league','age','nationality','Position','overall','potential','photo'])[['Points','Apps']]
s4 = s4.drop_duplicates(['Players','club','league','age','nationality','Position','overall','potential','photo']).set_index(['Players','club','league','age','nationality','Position','overall','potential','photo'])[['Points','Apps']]
s5 = s5.drop_duplicates(['Players','club','league','age','nationality','Position','overall','potential','photo']).set_index(['Players','club','league','age','nationality','Position','overall','potential','photo'])[['Points','Apps']]
s6 = s6.drop_duplicates(['Players','club','league','age','nationality','Position','overall','potential','photo']).set_index(['Players','club','league','age','nationality','Position','overall','potential','photo'])[['Points','Apps']]
joined = pd.concat([s1,s2,s3,s4,s5,s6], axis=1, keys=('16/17','15/16','14/15','13/14','12/13','17/18')).fillna(0).astype(float).reset_index()

In [60]:
Europe = 'Portugal|Germany|Belgium|Poland|Spain| Belgium|Croatia|Wales|Italy|Slovenia|France|Sweden|Netherlands|Denmark|Slovakia|England|Austria|Czech Republic|Bosnia Herzegovina|Greece|Serbia|Montenegro|Switzerland|Turkey|Norway|Finland|Republic of Ireland|Romania|Northern Ireland|Albania|Ukraine|Scotland|Hungary|Moldova|Macedonia|Israel|Georgia|Liechtenstein|Kosovo|Bulgaria|Iceland|Belarus|Luxembourg|Cyprus|Lithuania'
Africa = ('Gabon|Ivory Coast|Senegal|Guinea|Egypt|Algeria|Cameroon|Kenya|Congo|Morocco|Mauritania|Sierra Leone|Zimbabwe|African|Eritrea|Madagascar|Uganda|Comoros|Ghana|Burkina Faso|Libya|Nigeria|Mali|Tunisia|Angola|Mozambique|Benin|Togo|Congo|Gambia|South Africa|Zambia|Guinea Bissau')
North_America = ('Costa R|United States|Bermuda|Honduras|Canada|Mexico|Montserrat|St Lucia|Dominican Republic|Cuba|Haiti')
South_America = ('Argentina|Trinidad & Tobago|Bolivia|Brazil|Chile|Colombia|Ecuador|Guyana|Paraguay|Peru|Suriname|Uruguay|Venezuela')
Asia = ('Afghanistan|Armenia|Azerbaijan|Korea|Bahrain|Bangladesh|Bhutan|Brunei|Cambodia|China|Cyprus|Georgia|India|Indonesia|Iran|Iraq|Israel|Japan|Jordan|Kazakhstan|Kuwait|Kyrgyzstan|Laos|Lebanon|Malaysia|Maldives|Mongolia|Myanmar|Nepal|North Korea|Oman|Pakistan|Palestine|Philippines|Qatar|Russia|Saudi|Arabia|Singapore|South Korea|Sri Lanka|Syria|Taiwan|Tajikistan|Thailand|Timor-Leste|Turkey|Turkmenistan|United Arab Emirates|Uzbekistan|Vietnam|Yemen')
Australia_Oceania = ('Australia|Fiji|Kiribati|Marshall Islands|Micronesia|Nauru|New Zealand|Palau|Curacao|Caledonia|Cape Verde|Papua New Guinea|Samoa|Jamaica|Solomon Islands|Tonga|Tuvalu|Vanuatu')

In [61]:
joined.loc[joined['nationality'].str.contains(Europe), 'Continent'] = 'Europe'
joined.loc[joined['nationality'].str.contains(Africa), 'Continent'] = 'Africa'
joined.loc[joined['nationality'].str.contains(North_America), 'Continent'] = 'North America'
joined.loc[joined['nationality'].str.contains(South_America), 'Continent'] = 'South America'
joined.loc[joined['nationality'].str.contains(Asia), 'Continent'] = 'Asia'
joined.loc[joined['nationality'].str.contains(Australia_Oceania), 'Continent'] = 'Australia / Oceania'

In [62]:
joined['count1'] = 0
joined.loc[joined['16/17']['Apps']>0.5, 'count1'] = 1
joined['count2'] = 0
joined.loc[joined['15/16']['Apps']>0.5, 'count2'] = 1
joined['count3'] = 0
joined.loc[joined['14/15']['Apps']>0.5, 'count3'] = 1
joined['count4'] = 0
joined.loc[joined['13/14']['Apps']>0.5, 'count4'] = 1
joined['count5'] = 0
joined.loc[joined['12/13']['Apps']>0.5, 'count5'] = 1

joined['Seasons Played'] = joined['count1'] + joined['count2'] + joined['count3'] + joined['count4'] + joined['count5']

joined = joined[joined['Seasons Played']>1]

joined['Overall Points'] = joined['16/17']['Points']+joined['15/16']['Points']+joined['14/15']['Points']+joined['13/14']['Points']+joined['12/13']['Points']
                                
joined['Overall Apps'] = joined['16/17']['Apps']+joined['15/16']['Apps']+joined['14/15']['Apps']+joined['13/14']['Apps']+joined['12/13']['Apps']

joined['Average Form'] = joined['Overall Points']/joined['Overall Apps']
joined.drop(joined.columns[[9,10,11,12,13,14,15,16,17,18,19,20,22,23,24,25,26,27,28,29]], axis=1, inplace=True)
joined = joined[np.isfinite(joined['Average Form'])]

joined.drop(joined.columns[[8,9,10,11,12,13,14,15,16,17,18,19,20,22,23,24,25,26,27,28,29]], axis=1, inplace=True)

In [63]:
list(joined)

[('Players', ''),
 ('club', ''),
 ('league', ''),
 ('age', ''),
 ('nationality', ''),
 ('Position', ''),
 ('overall', ''),
 ('potential', ''),
 ('photo', ''),
 ('Continent', ''),
 ('Average Form', '')]

In [64]:
joined.head(5)

,Players,club,league,age,nationality,Position,overall,potential,photo,Continent,Average Form
,,,,,,,,,,,
0,Aaron Cresswell,West Ham United,English Premier League,27,England,Defender,76,77,https://cdn.sofifa.org/18/players/189615.png,Europe,2.821782
1,Aaron Hughes,Heart of Midlothian,Scottish Premiership,37,Northern Ireland,Defender,71,71,https://cdn.sofifa.org/18/players/17725.png,Europe,1.216216
2,Aaron Hunt,Hamburger SV,German Bundesliga,30,Germany,Midfielder,76,76,https://cdn.sofifa.org/18/players/158138.png,Europe,3.050847
3,Aaron Lennon,Everton,English Premier League,30,England,Midfielder,77,77,https://cdn.sofifa.org/18/players/152747.png,Europe,2.633333
6,Aaron Niguez,Real Oviedo,Spanish Segunda Division,28,Spain,Midfielder,73,73,https://cdn.sofifa.org/18/players/183853.png,Europe,1.511628

In [65]:
joined.to_csv('../../data/analysis/RQ4.csv')