In [1]:
import os.path
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pylab as plt
%matplotlib inline

In [39]:
df = pd.read_csv("../../data/prep/joined.csv")

In [54]:
test = df['league'].value_counts() > 25

In [64]:
test

German Bundesliga                 True
Italian Serie A                   True
Spanish Primera Division          True
French Ligue 1                    True
English Championship              True
Italian Serie B                   True
French Ligue 2                    True
Spanish Segunda Division          True
German 2. Bundesliga              True
Turkish Super Lig                 True
USA Major League Soccer           True
Belgian First Division A          True
Portuguese Primeira Liga          True
Argentinian Superliga             True
English League One                True
Holland Eredivisie                True
German 3. Liga                    True
Mexican Liga MX                   True
Greek Super League                True
Swiss Super League                True
Russian Premier League           False
Danish Superliga                 False
Scottish Premiership             False
English League Two               False
Rest Of The World                False
Swedish Allsvenskan              False
Australian A-League              False
Japanese J1 League               False
Polish Ekstraklasa               False
Austrian Bundesliga              False
Norwegian Eliteserien            False
Saudi Professional League        False
Czech Liga                       False
Colombian Primera A              False
Finnish Veikkausliiga            False
Rep. Ireland Premier Division    False
Korean K League Classic          False
Name: league, dtype: bool

In [68]:
testy= 'Russian Premier League','Danish Superliga','Scottish Premiership','English League Two','Rest Of The World','Swedish Allsvenskan',
'Australian A-League','Japanese J1 League','Polish Ekstraklasa','Austrian Bundesliga','Norwegian Eliteserien','Saudi ProfessionalLeague','Czech Liga'
,'Colombian Primera A','Finnish Veikkausliiga','Rep. Ireland Premier Division','Korean K League Classic'

("'Colombian",
 'Primera',
 "A','Finnish",
 "Veikkausliiga','Rep.",
 'Ireland',
 'Premier',
 "Division','Korean",
 'K',
 'League',
 "Classic'")

In [59]:
df = df.drop(df.index[0])
df = df.drop('Unnamed: 0',axis=1)

In [61]:
df.head(5)

,Players,club,league,age,nationality,Position,overall,potential,Continent,16/17,...,15/16,15/16.1,14/15,14/15.1,13/14,13/14.1,12/13,12/13.1,17/18,17/18.1
2,Aaron Hughes,Heart of Midlothian,Scottish Premiership,37.0,Northern Ireland,Defender,71.0,71.0,Europe,0.0,...,0.0,0.0,0.0,0.0,0.4615384615384616,13.0,1.625,24.0,0.0,0.0
3,Aaron Hunt,Hamburger SV,German Bundesliga,30.0,Germany,Midfielder,76.0,76.0,Europe,2.590909090909091,...,2.136363636363636,22.0,1.8,15.0,3.7419354838709684,31.0,4.035714285714286,28.0,2.5,24.0
4,Aaron Lennon,Everton,English Premier League,30.0,England,Midfielder,77.0,77.0,Europe,1.8181818181818181,...,2.76,25.0,2.217391304347826,23.0,2.5555555555555562,27.0,3.147058823529412,34.0,1.9130434782608696,23.0
5,Aaron Leya Iseka,SV Zulte-Waregem,Belgian First Division A,19.0,Belgium,Forward,68.0,79.0,Europe,2.125,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Aaron Mooy,Huddersfield Town,English Premier League,26.0,Australia,Midfielder,77.0,78.0,Australia / Oceania,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.838709677419355,31.0

In [69]:
df[~df.league.str.contains(testy)]

TypeError: first argument must be string or compiled pattern

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3647 entries, 0 to 3646
Data columns (total 22 columns):
Unnamed: 0     3646 non-null float64
Players        3646 non-null object
club           3646 non-null object
league         3646 non-null object
age            3646 non-null float64
nationality    3646 non-null object
Position       3646 non-null object
overall        3646 non-null float64
potential      3646 non-null float64
Continent      3646 non-null object
16/17          3647 non-null object
16/17.1        3647 non-null object
15/16          3647 non-null object
15/16.1        3647 non-null object
14/15          3647 non-null object
14/15.1        3647 non-null object
13/14          3647 non-null object
13/14.1        3647 non-null object
12/13          3647 non-null object
12/13.1        3647 non-null object
17/18          3647 non-null object
17/18.1        3647 non-null object
dtypes: float64(4), object(18)
memory usage: 626.9+ KB